.image-header {
  background-image: url("F:\Coding\.Assetts\Header_BG");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
    nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.904);
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}

nav a:hover {
  transform: scale(1.1);
}
